<h2>Your Favorites</h2>
<% @tenant.favorited_apartments.each do |apartment| -%>
  <%= link_to apartment.address, apartment_path(apartment_id) %>
  <%= link_to "delete favorite", "#{current_user.id}/favorites/#{fav.id}", method: :delete %>
<% end -%>
