<h2>Your Favorites</h2>
<ul>
  <% current_user.favorites.each do |fav| -%>
    <li>
      <%= link_to fav.apartment.address, apartment_path(fav.apartment_id) %>
      <%= link_to "delete favorite", "#{current_user.id}/favorites/#{fav.id}", method: :delete %>
    </li>
  <% end -%>
</ul>
